@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	height:100%;
}

p{
	margin:0px 0px;
	padding:0px 0px;
	
}

#image-holder{
	position:relative;
	text-align:center;
}



h1.qhead{
	margin:20px 0px;
	font-weight:600;
	font-size:16px;
}
#content{
	width:100%;
	height:100%;
}

#container{
	max-width:900px;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333;
	
}


#option1,#option2,#option3{
	display:block;
	position:relative;
	min-height:40px;
	background-color:#DDD;
	margin-bottom:1px;
}

.numbering{
	position:absolute;
	padding:14px 6px;
}

#mark1, #mark2,#mark3{
	position:absolute;
	top:10px;
	right:20px;
	width:24px; height:24px;
	background-image:url(mark.png);
	background-position:0px 0px;
}

.option-text{
	position:relative;
	top:0px;
	left:40px;
	padding:14px 0px;
}

a{
	color:#333;
	text-decoration:none;
    outline: 0;
}


#next:hover, #back:hover{
	background:#FC6;
}

#option1:hover, #option2:hover, #option3:hover {
	background:#FC6;
}

a:active, #next:active, #back:active{
	background:#666;
}

#next{
	position:relative;
	text-align:center;
	background-color:#BBB;
	width:60px;
	height:24px;
	padding-top:6px;
	float:right;
}

#back{
	position:relative;
	text-align:center;
	background-color:#BBB;
	width:60px;
	height:24px;
	padding-top:6px;
	float:left;
}

#nav{
	position:relative;
	margin-top:4px;
	background:#DDD;
	height:30px;
}
